.wrapper-class {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5vh 0vw;
}

.search-bar-container {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.search-bar-container .error-message {
  position: absolute;
  top: -45px;
  font-size: 12px;
  background-color: #ffa9a9;
  color: white;
  padding: 0px 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  height: 35px;
  align-items: center;
  border-radius: 5px;
}